<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[<!ELEMENT content ANY>
<!ATTLIST content id ID #REQUIRED>
<!ELEMENT mediaControls ANY>
<!ATTLIST mediaControls id ID #REQUIRED>
<!ELEMENT title ANY>
<!ATTLIST title id ID #REQUIRED>
<!ELEMENT richText ANY>
<!ATTLIST richText id ID #REQUIRED>
<!ELEMENT singleImage ANY>
<!ATTLIST singleImage id ID #REQUIRED>
<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
]>
<root id="-1">
  <content id="1082" key="92349db6-4cea-470c-849e-7ee446c27b15" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-11-01T15:05:09" updateDate="2017-11-01T20:54:06" nodeName="Media Layers" urlName="media-layers" path="-1,1082" isDoc="" nodeType="1061" creatorName="Matthew  Brumpton" writerName="Matthew  Brumpton" writerID="0" template="1060" nodeTypeAlias="content">
    <mediaItems><![CDATA[[{"key":"1222542a-5805-41d6-8a77-c26fb58acff5","name":"Title","ncContentTypeAlias":"title","titleName":"Welcome"},{"key":"256def74-26fa-446e-bad7-37e2b2aa830b","name":"RichText","ncContentTypeAlias":"richText","text":"Media layers are a mechanism to create dynamic content using the nested content feature."},{"key":"a10fbb8c-5fa4-4570-a5db-d012de5fcb91","name":"Person","ncContentTypeAlias":"person","personName":"Matthew Brumpton","personIntroduction":"Technical Lead","biography":"","image":"umb://media/6c972ad3fd1b4453b284dbc7daa152c9"}]]]></mediaItems>
    <content id="1083" key="0ecfb503-7f14-468b-8632-d38502448200" parentID="1082" level="2" creatorID="0" sortOrder="0" createDate="2017-11-01T15:05:33" updateDate="2017-11-01T21:03:55" nodeName="Howto" urlName="howto" path="-1,1082,1083" isDoc="" nodeType="1061" creatorName="Matthew  Brumpton" writerName="Matthew  Brumpton" writerID="0" template="1060" nodeTypeAlias="content">
      <mediaItems><![CDATA[[{"key":"c53795c8-28e2-4f1b-8caa-b535b637c4f9","name":"Title","ncContentTypeAlias":"title","titleName":"How to create media layers?"},{"key":"583bb712-2e72-44d2-b8fd-7763ff66994a","name":"RichText","ncContentTypeAlias":"richText","text":"<p>Nested content plugin.</p>\n<p>Later than 7.6 combined with umbraco core</p>"}]]]></mediaItems>
    </content>
    <content id="1084" key="71d27779-46c7-41b7-a211-b9376c46f3bb" parentID="1082" level="2" creatorID="0" sortOrder="1" createDate="2017-11-01T15:06:02" updateDate="2017-11-01T20:51:32" nodeName="Download" urlName="download" path="-1,1082,1084" isDoc="" nodeType="1061" creatorName="Matthew  Brumpton" writerName="Matthew  Brumpton" writerID="0" template="1060" nodeTypeAlias="content">
      <mediaItems><![CDATA[[{"key":"b7b8b12e-ab3c-4e5f-8708-1e313e5fbf4b","name":"Title","ncContentTypeAlias":"title","titleName":"How to download?"},{"key":"0f6eb9bf-3313-4900-a24f-8393691d4b46","name":"RichText","ncContentTypeAlias":"richText","text":"<p>This website can be downloaded as a Visual Studio 2017 project.</p>\n<p>username: matthew@brumpton.co.uk</p>\n<p><span>password: matthew@brumpton.co.uk</span></p>"}]]]></mediaItems>
    </content>
  </content>
</root>